html {
    font-size: 10px;
    font-family: placeholder;
  }

img {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}
h1 {
    font-size: 60px;
    text-align: center;
  }